n8n-workflows/installation-invoice.json
{
  "name": "Installation Complete - Auto Invoice",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "installation-complete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Installation Complete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "installation-complete"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL || 'http://localhost:8000' }}/api/automation/webhook/installation",
        "options": {
          "headers": {
            "Content-Type": "application/json",
            "X-API-Key": "={{ $env.N8N_API_KEY }}"
          }
        },
        "body": {
          "api_key": "={{ $env.N8N_API_KEY }}",
          "customer_id": "={{ $json.body.customer_id }}",
          "installation_id": "={{ $json.body.installation_id }}"
        },
        "sendBody": true,
        "bodyContentType": "json"
      },
      "id": "generate-invoice",
      "name": "Generate Installation Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Installation invoice generated successfully\", \"data\": $json } }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook - Installation Complete": {
      "main": [[{ "node": "Generate Installation Invoice", "type": "main", "index": 0 }]]
    },
    "Generate Installation Invoice": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-15T00:00:00.000Z",
  "versionId": "1"
}

